CREATE OR REPLACE FUNCTION cancel_coop_invitation(p_coop_id UUID, p_target_user_id UUID, p_actor_id UUID) RETURNS VOID AS \$\$ BEGIN DELETE FROM coop_members WHERE coop_id = p_coop_id AND user_id = p_target_user_id AND accepted_rules_at IS NULL; END; \$\$ LANGUAGE plpgsql SECURITY DEFINER;
